{% extends 'base.html.twig' %}

{% block title %}Garage V.Pannot{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center mt-4">
            <img src="{{ asset('assets/img/Logo VL RVB.jpg')}}" alt="Logo Garage" class="mb-4">
            <h1>Bienvenue au garage V.Parot</h1>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Réparation de véhicules</h2>
                        <p class="card-text">Nous offrons un service complet de réparation de véhicules. Contactez-nous pour prendre rendez-vous ou pour obtenir un devis.</p>
                        <a href="/garage" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Véhicules d'occasion</h2>
                        <p class="card-text">Nous avons une variété de véhicules d'occasion disponibles à la vente. Jetez un oeil à notre sélection ci-dessous.</p>
                        <a href="/vehicule/occasion" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="container mt-4">
            <h2>Témoignages</h2>
            <div class="row">
                {% for temoignage in temoignages %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ temoignage.getNom() }}</h5>
                                <p class="card-text">{{ temoignage.getCommentaire() }}</p>
                                <p class="card-text">Note : {{ temoignage.getNote() }}/5</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        {% if app.flashes('success') is not empty %}
            <div class="alert alert-success mt-4">
                {{ app.flashes('success')[0] }}
            </div>
        {% endif %}
    </div>
{% endblock %}
